﻿@using System.Web.Optimization


<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>  
    @*<link href="@Styles.Url("~/content/css")" rel="stylesheet" />*@
    <link id="switch_style" href="../../Content/United/bootstrap/bootstrap.css" rel="stylesheet" type="text/css" />
    <link href="../../Content/United/main.css" rel="stylesheet" type="text/css" />
	<link href="~/Content/themes/base/jquery.ui.all.css" rel="stylesheet" />
    <link href="../../Content/@(System.Configuration.ConfigurationManager.AppSettings["Client"])/client.css" rel="stylesheet" type="text/css" />
    
     @RenderSection("head", required: false)
     @*@Html.Partial("_html5shiv")*@
    
    <script src="../../Scripts/jquery-1.9.0.min.js" type="text/javascript"></script>
    <script src="../../Scripts/bootstrap.min.js" type="text/javascript"></script>
    <script src="../../Scripts/jquery.validate.min.js" type="text/javascript"></script>

    <script type="text/javascript">

        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-43717724-1']);
        _gaq.push(['_trackPageview']);

        (function () {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();

    </script>		
</head>
<body>
    @if (System.Configuration.ConfigurationManager.AppSettings["addthis_option"] == "true")
    {
    <div class="span2 pull-right" style="text-align:center;">
        <p>Follow Us</p>
        <div class="addthis_toolbox addthis_32x32_style addthis_default_style">
            <a class="addthis_button_facebook_follow" style="margin-left: 35px;" addthis:userid="@(System.Configuration.ConfigurationManager.AppSettings["addthis_facebook_account"])"></a>
            <a href="https://twitter.com/@(System.Configuration.ConfigurationManager.AppSettings["twitter_account"])" target="_blank" style="margin-left:-30px;"><img src="~/Content/Images/icons/twitterbutton.png" alt="Follow Us on Twitter" /></a>
            <br /><br />
            <!-- AddThis Button BEGIN -->
            <a class="addthis_button" href="http://www.addthis.com/bookmark.php?@(System.Configuration.ConfigurationManager.AppSettings["addthis_Bookmark_QS"])"><img src="http://s7.addthis.com/static/btn/v2/lg-share-en.gif" width="125" height="16" alt="Bookmark and Share" style="border:0" /></a>
            <script type="text/javascript">    var addthis_config = { "data_track_addressbar": true };</script>
            <script type="text/javascript" src="@(System.Configuration.ConfigurationManager.AppSettings["addthis_jsURL"])"></script>
            <!-- AddThis Button END -->
        </div>
    </div>        
    }
<div class="container">
    <div class="row"><!-- start header -->
        <div class="span4 logo">
            <a href="@Url.Content("~")"><img src="../../Content/@(System.Configuration.ConfigurationManager.AppSettings["Client"])/Images/ClientLogo.jpg" alt="@(System.Configuration.ConfigurationManager.AppSettings["ClientNameFull"])" /></a>
        </div><br /><br /><br />
        <div class="span8">
            <div class="row">
                <div class="links pull-right">
                    <a href="@Url.Content("~")" id="current">Home</a> |
                    @{Html.RenderAction("CartSummary", "ShoppingCart",null);} |
                    @Html.ActionLink("Contact Us", "Contact", "Home") |

                    @if (HttpContext.Current.Session != null && HttpContext.Current.Request.IsAuthenticated)
                    {
                        <a href="@Url.Content("~/Account/LogOff/")">Logout</a>
                    }
                    else
                    {
                        <a href="@Url.Content("~/Account/logOn/")">Login</a>
                    }
                </div>
            </div>
        </div>
    </div><!-- end header -->

    <div class="row"><!-- start nav -->
        <div class="span12">
            <div class="navbar">
                <div class="navbar-inner">
                    <div class="container" style="width: auto;">
                        <div class="nav-collapse">
                            <ul class="nav">
                                <li><a href="@Url.Content("~/Store/")">Learning Catalogue</a></li>

                                @if (HttpContext.Current.Session != null && HttpContext.Current.Request.IsAuthenticated)
                                { 
                             
                                    <li><a href = "@Url.Content("~/LearningPlan/")">My Learning</a></li>
                             
                                    if (HttpContext.Current.User.IsInRole("LRIAdmin"))
                                { 
                                    <li class="dropdown"><a href="#" class = "dropdown-toggle" data-toggle="dropdown">Admin</a>
                                        <ul class="dropdown-menu">
                                            <li><a href="@Url.Content("~/User/")">Users</a></li>
                                            <li><a href="@Url.Content("~/LearningResource/")">Learning Resources</a></li>
                                            <li><a href="@Url.Content("~/LearningCategory/")">Learning Categories</a></li>
                                        </ul>
                                    </li>
                                }


                                }
                            </ul>

                            <div class="nav pull-right">
                          @using (Html.BeginForm("Browse", "Store", FormMethod.Post, new { @class = "navbar-search" }))
                          {
                            @*<form class="navbar-search" action="">*@
								<input type="text" class="search-query span2" id = "searchTerm" name = "searchTerm" placeholder="Search catalogue"/>
								<button class="btn btn-primary btn-small search_btn" type="submit">Go</button>
							@*</form>*@
                            }
						  </div> 

                        </div><!-- /.nav-collapse -->
                    </div>
                </div><!-- /navbar-inner -->
            </div><!-- /navbar -->
        </div>
    </div><!-- end nav -->	 

    <div class = "row">
        <div class = "span12">
            @RenderBody()
        </div>
    </div>	
<br />
 <footer>
	<hr />
	<div class="row well no_margin_left">

	<div class="span3">
		<h4>Information</h4>
		<ul>
			<li><a href="@(System.Configuration.ConfigurationManager.AppSettings["AboutUsLink"])" target="_blank">About Us</a></li>
			<li><a href="../../Content/@(System.Configuration.ConfigurationManager.AppSettings["Client"])/Terms/Terms_And_Conditions.pdf" target="_blank">Terms &amp; Conditions</a></li>
		</ul>
	</div>
	<div class="span3">
		<h4>Customer Service</h4>
		<ul>
			<li>@Html.ActionLink("Contact Us", "Contact", "Home")</li>
		</ul>
	</div>
	<div class="span3">
        @if (HttpContext.Current.Session != null && HttpContext.Current.Request.IsAuthenticated)
        { 
		    <h4>My Account</h4>
		    <ul>
			    <li>@Html.ActionLink("Order History", "Index", "Order")</li>
			    <li><a href = "@Url.Content("~/LearningPlan/")">My Learning</a></li>
		    </ul>
        }
	</div>
	<div class="span2">
	</div>
    </div>
    <div class = "row pull-right">Powered by <a href="http://www.lri.co.uk" target = "_blank">LRI Learning Resources International Ltd</a></div>
</footer>

</div> <!-- /container -->
</body>
</html>