﻿@model LRI.MyPlace2Learn.Models.ForgottenPasswordModel

@{
    ViewBag.Title = "Reset Password";
}

<h2>Change Password</h2>
<p>Use the form below to reset your password.</p>

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

@using (Html.BeginForm("ForgottenPassword", "Account", FormMethod.Post, new { autocomplete = "off" }))
{
    @Html.ValidationSummary(true, "Password reset was unsuccessful.")
    <div>
        <fieldset>
            <legend>Account Information</legend>
            <p>Please enter your email and security question details in order to help us identify your record correctly.</p>
            <div class="editor-label">
                @Html.LabelFor(m => m.Email)
            </div>
            <div class="editor-field">
                @Html.TextBoxFor(m => m.Email )
                @Html.ValidationMessageFor(m => m.Email)
            </div>
             <div class="editor-label">
                @Html.LabelFor(m => m.SecurityQuestion)
            </div>
            <div class="editor-field">
              @Html.DropDownListFor(m=>m.SecurityQuestion,
                                 new SelectList((new LRI.MyPlace2Learn.Helpers.DataSetValueList(2)).DataSetValues, "DatasetValueId", "Value"),"Please select..")
                                      
            </div>
             <div class="editor-label">
                @Html.LabelFor(m => m.SecurityQuestionAnswer)
            </div>
            <div class="editor-field">
                @Html.TextBoxFor(m => m.SecurityQuestionAnswer)
                @Html.ValidationMessageFor(m => m.SecurityQuestionAnswer)
            </div>
         </fieldset>   
         <fieldset> 
            <legend>Password details</legend>
            <div class="editor-label">
                @Html.LabelFor(m => m.Password)
            </div>
            <div class="editor-field">
                @Html.PasswordFor(m => m.Password)
                @Html.ValidationMessageFor(m => m.Password)
            </div>

            <div class="editor-label">
                @Html.LabelFor(m => m.ConfirmPassword)
            </div>
            <div class="editor-field">
                @Html.PasswordFor(m => m.ConfirmPassword)
                @Html.ValidationMessageFor(m => m.ConfirmPassword)
            </div>
            <hr/>
            <p>
                <input type="submit" value="Change Password" class="btn btn-primary"/>
                
            </p>
        </fieldset>
    </div>
}
