﻿@model LRI.MyPlace2Learn.Models.LogOnModel

@{
    ViewBag.Title = "Log On";
}

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>


<ul class="breadcrumb">
	<li><a href="#">Home</a> <span class="divider">/</span></li>
	<li class="active">Login</li>
</ul>
    
<div class="row">
    <div class="span9">
	    <h1>Account login</h1>
    </div>
</div>    
<hr />
<div class="row">    
    <div class="span5 well">
       @using (Html.BeginForm())
       { 
            <h2>Registered Customers</h2>
		    <p>If you have an account with us, please log in.</p>
            @Html.ValidationSummary(true, "Login was unsuccessful. Please correct the errors and try again.")
            <fieldset>
                <div class="control-group">
                    @Html.LabelFor(m => m.UserName, new { @class = "control-label" })
                    <div class = "controls">
                        @Html.TextBoxFor(m => m.UserName, new { @class = "input-xlarge focused", @placeholder = "Enter your username" })
                        @Html.ValidationMessageFor(m => m.UserName)
                    </div>
                </div> 
                <div class="control-group">
                    @Html.LabelFor(m => m.Password, new { @class = "control-label" })
                    <div class = "controls">
                        @Html.PasswordFor(m => m.Password, new { @class = "input-xlarge focused", @placeholder = "Enter your password" })
                        @Html.ValidationMessageFor(m => m.Password)
                    </div>
                </div>
                <input type="submit" value="Log On" class="btn btn-primary pull-right"/>
            </fieldset>  
            <p>Forgotten your password? <a href = "@Url.Content("~/Account/ForgottenPassword/")">Reset</a></p>
       }
    </div>
    <div class="span5 well pull-right">
        <h2>New Customers</h2>
		<p>You need to register in order to access the course you have purchased and track your progress through it.</p><br />
		 @Html.ActionLink("Register", "Register", null, new { @class="btn btn-primary pull-right"})
    </div>

</div>    
    
				
			

