﻿@model IEnumerable<LRI.MyPlace2Learn.Models.Order>

@{
    ViewBag.Title = "OrderHistory";
}

<h2>OrderHistory</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table table-bordered table-striped">
    <tr>
        <th>Order Date</th>
        <th>Order Number</th>
        <th>Total</th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.OrderDate.ToShortDateString())
        </td>
        <td> @Html.DisplayFor(modelItem => item.OrderId)</td>
        <td>
            @Html.DisplayFor(modelItem => item.Total.ToString("0.00"))
        </td>
        <td>
            @Html.ActionLink("Details", "Details", new { id=item.OrderId }) 
        </td>
    </tr>
}

</table>
