﻿@model LRI.MyPlace2Learn.Models.RegisterModel

@{
    ViewBag.Title = "Register";
}


<ul class="breadcrumb">
	<li><a href="#">Home</a> <span class="divider">/</span></li>
	<li class="active">Register</li>
</ul>

<h2>Create a New Account</h2>

<p>
    Please fill in the form below to create a new account. <br />Note that all fields are required.
</p>

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

@using (Html.BeginForm(new { @class = "form-horizontal" }))
{
    @Html.ValidationSummary(true, "Account creation was unsuccessful. Please correct the errors and try again.")   
    <div class = "span9">
        <fieldset>
        <legend>Your Personal Details</legend>
                <div class="control-group">
                   @Html.LabelFor(m => m.FirstName, new { @class = "control-label" })
                   <div class="controls docs-input-sizes">
                     @Html.TextBoxFor(m => m.FirstName, new { @class = "span4", @placeholder = "Enter your first name" })
                     @Html.ValidationMessageFor(m => m.FirstName)
                   </div>
                </div>
                 <div class="control-group">
                   @Html.LabelFor(m => m.LastName, new { @class = "control-label" })
                   <div class="controls docs-input-sizes">
                     @Html.TextBoxFor(m => m.LastName, new { @class = "span4", @placeholder = "Enter your last name" })
                     @Html.ValidationMessageFor(m => m.LastName)
                   </div>
                </div>
                 <div class="control-group">
                   @Html.LabelFor(m => m.Email, new { @class = "control-label" })
                   <div class="controls docs-input-sizes">
                     @Html.TextBoxFor(m => m.Email, new { @class = "span4", @placeholder = "Enter your email address" })
                     @Html.ValidationMessageFor(m => m.Email)
                   </div>
                </div><br />
                   
                 <div class="control-group">
                   @Html.LabelFor(m => m.ConfirmEmail, new { @class = "control-label" })
                   <div class="controls docs-input-sizes">
                     @Html.TextBoxFor(m => m.ConfirmEmail, new { @class = "span4", @placeholder = "Confirm your email address" })
                     @Html.ValidationMessageFor(m => m.ConfirmEmail)
                   </div>
                </div>
            
        </fieldset>
        <fieldset>
		    <legend>Your login </legend>
                 <div class="control-group">
                   @Html.LabelFor(m => m.Password, new { @class = "control-label" })
                   <div style = "margin-bottom: 5px;">Note that passwords need to be a minimum of 6 characters in length.</div>
                   <div class="controls docs-input-sizes">
                     @Html.PasswordFor(m => m.Password, new { @class = "span4", @placeholder = "Enter a password" })
                     @Html.ValidationMessageFor(m => m.Password)
                   </div>
                </div>
                 <div class="control-group">
                   @Html.LabelFor(m => m.ConfirmPassword, new { @class = "control-label" })
                   <div class="controls docs-input-sizes">
                     @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "span4", @placeholder = "Confirm your password" })
                     @Html.ValidationMessageFor(m => m.ConfirmPassword)
                   </div>
                </div>
                <div class="control-group">
                    @Html.LabelFor(m => m.SecurityQuestion, new { @class = "control-label" })
                    <div class="controls docs-input-sizes">
                        @Html.DropDownListFor(m => m.SecurityQuestion,
                                     new SelectList((new LRI.MyPlace2Learn.Helpers.DataSetValueList(2)).DataSetValues, "DatasetValueId", "Value"), "Please select..", new { @class = "span4" })
                         @Html.ValidationMessageFor(m => m.SecurityQuestion)
                    </div>
                </div>
                 <div class="control-group">
                    @Html.LabelFor(m => m.SecurityQuestionAnswer, new { @class = "control-label" })
                 </div>
                 <div class="controls docs-input-sizes">
                    @Html.TextBoxFor(m => m.SecurityQuestionAnswer, new { @class = "span4" })
                    @Html.ValidationMessageFor(m => m.SecurityQuestionAnswer)
                 </div>
        </fieldset>

       <hr />
            @Html.CheckBoxFor(m=>m.TCAgreement)  I have read and agree to the <a href="../../Content/@(System.Configuration.ConfigurationManager.AppSettings["Client"])Terms/Terms_And_Conditions.pdf" target="_blank">Terms and Conditions</a>*
			@Html.ValidationMessageFor(m => m.TCAgreement)
            @*<input type="checkbox" value="option2" name="optionsCheckboxList2"/> Subscribe to our newsletter<br />*@
    <hr />
            <input type="submit" value="Register" class="btn btn-primary btn-large pull-right" id = "register"/>
       </div> 
      }

<script type="text/javascript">
    (function ($) {
        $.validator.unobtrusive.adapters.addBool("booleanrequired", "required");
    } (jQuery));
</script>
        
      