﻿@model LRI.MyPlace2Learn.Models.Feedback

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Feedback</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Rating)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Rating)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Comments)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Comments)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.LearningResourceId)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.LearningResourceId)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.CreatedByUserId)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CreatedByUserId)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Datecreated)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Datecreated)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.IsActive)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.IsActive)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.IsArchived)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.IsArchived)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Withdrawn)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Withdrawn)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.WithdrawalReason)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.WithdrawalReason)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.WithdrawnByUserId)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.WithdrawnByUserId)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.FeedbackId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
