﻿@model LRI.MyPlace2Learn.Models.Feedback

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Feedback</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.Rating)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Rating)
            @Html.ValidationMessageFor(model => model.Rating)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Comments)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Comments)
            @Html.ValidationMessageFor(model => model.Comments)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.LearningResourceId)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.LearningResourceId)
            @Html.ValidationMessageFor(model => model.LearningResourceId)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.CreatedByUserId)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.CreatedByUserId)
            @Html.ValidationMessageFor(model => model.CreatedByUserId)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Datecreated)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Datecreated)
            @Html.ValidationMessageFor(model => model.Datecreated)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.IsActive)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.IsActive)
            @Html.ValidationMessageFor(model => model.IsActive)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.IsArchived)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.IsArchived)
            @Html.ValidationMessageFor(model => model.IsArchived)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Withdrawn)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Withdrawn)
            @Html.ValidationMessageFor(model => model.Withdrawn)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.WithdrawalReason)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.WithdrawalReason)
            @Html.ValidationMessageFor(model => model.WithdrawalReason)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.WithdrawnByUserId)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.WithdrawnByUserId)
            @Html.ValidationMessageFor(model => model.WithdrawnByUserId)
        </div>

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
