﻿@using PagedList
@using PagedList.Mvc
@model IPagedList<LRI.MyPlace2Learn.Models.LearningResource>
@{
    ViewBag.Title = "Browse Courses";
}
 
 <div class="span9">

<ul class="breadcrumb">
    <li><a href="@Url.Content("~/Home/")">Home</a> <span class="divider">/</span></li>
    <li><a href="@Url.Content("~/Store/")">Learning Catalogue</a> <span class="divider">/</span></li>

    @if (!String.IsNullOrEmpty(Request.Form["searchTerm"]) || !String.IsNullOrEmpty(Request.QueryString["searchTerm"]))
    {
        <li class="active">Search: @Request.Form["searchTerm"]</li>
    }
    else
    { 
        <li class="active">@Model.First().LearningCategories.First().Name</li>
    }
    
    
 </ul>
	
    @if (Model.Count() > 0)
    {

        foreach (var resource in Model)
        {
        
            <div class="row">
                <div class="span1">
                    <a href="@Url.Action("Details", new { id = resource.LearningResourceID })"><img alt="@resource.Title"  id="tmp" src="@(System.Configuration.ConfigurationManager.AppSettings["ProductListImageLocation"] + resource.CatalogueListImage)"/></a>
                </div>	 
	  
                    <div class="span7">
                     <h5><a href="@Url.Action("Details", new { id = resource.LearningResourceID })">@resource.Title</a></h5>
                         @resource.Synopsis
                        <p></p>
                        
                         @if(resource.Feedback.Count() > 0)
                        {
                                <p>
                            @for (int i = 1; i <= resource.OverallRating; i++)
                            { 
                                <img src="../../Content/Images/icons/star-on.png" alt="" height="8" width="8" />
                            }
                            
                            @for (int i = resource.OverallRating + 1; i <= 5; i++)
                            {
                                <img src="../../Content/Images/icons/star-off.png" alt="" height="8" width="8"/>
                            }

                            </p>
                        }
                        
                        <p>£@resource.TotalCost</p>
                         <p>@Html.ActionLink("Add to basket", "AddToCart", "ShoppingCart", new { id = resource.LearningResourceID }, new { @class = "btn btn-primary" })</p>
                    </div>	
                    
            </div>
            <hr />
        }
        
        <div class = "span8" style = "text-align:center;">
            @Html.PagedListPager(Model, page => Url.Action("Browse", new { catid = Request.QueryString["catid"], page, searchTerm = (Request.Form["searchTerm"] ?? Request.QueryString["searchTerm"])}))
        </div>
        
    }
    else
    { 
        <div class = "row span12">
            No items were found using the search term provided.
        </div>
    }

</div>