﻿@model IEnumerable<LRI.MyPlace2Learn.ViewModels.CatalogueMenuViewModel>

@foreach (var learningCategory in Model)
{

    if (learningCategory.ChildCategories != null && learningCategory.ChildCategories.Count() > 0)
    {
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">@learningCategory.Name</a>
            <ul class="dropdown-menu" role="menu">

                @foreach (var childCategory in learningCategory.ChildCategories)
{
    if (childCategory.ChildCategories != null && childCategory.ChildCategories.Count() > 0)
    {
        <li class="dropdown-submenu">
            <a href="#" data-toggle="dropdown" class="subMenuLink">@childCategory.Name</a>
            <ul class="dropdown-menu">

                @foreach (var child in childCategory.ChildCategories)
                {
                    <li class="MenuLink">
                        @Html.ActionLink(child.Name,
                                                 "Browse", "Store",
                                               new { catid = child.CategoryID }, null)
                    </li>

                }

            </ul>
        </li>

    }
    else
    {
                        <li>
                            @Html.ActionLink(childCategory.Name,
                            "Browse", "Store",
                               new { catid = childCategory.CategoryID }, null)
                        </li>
                    }

                }


            </ul>
        </li>
    }
    else
    {
        <li>
            @Html.ActionLink(learningCategory.Name,
                "Browse", "Store",
                   new { catid = learningCategory.CategoryID }, null)
        </li>
    }
}
