﻿@model LRI.MyPlace2Learn.Models.LearningResource

@{
    ViewBag.Title = "Course - " + Model.Title;
} 

		
 <div class="span9">
    <ul class="breadcrumb">
        <li><a href="@Url.Content("~/Home/")">Home</a> <span class="divider">/</span></li>
        <li><a href="@Url.Content("~/Store/")">Learning Catalogue</a> <span class="divider">/</span></li>
        <li class="active">@Model.Title</li>
    </ul>
	
	 <div class="row">
		 <div class="span9">
			<h1>@Model.Title</h1>
		 </div>
	</div>
	 <hr/>
	 <div class="row">
		<div class="span3">
			<img alt="@Model.Title" src="@(System.Configuration.ConfigurationManager.AppSettings["ProductImageLocation"] + Model.CatalogueImageFileName)" />
		</div>	 
	    <div class="span5">
		    <div class="span6">
			    <address>
				    <strong>Length of License:</strong> <span>3 months</span><br />
				    <strong>Course Reference Code:</strong> <span>@Model.Reference</span><br />
                    <strong>Length:</strong> <span>@Model.Length minutes</span><br />

                    @if (@Model.HasTest)
                    { 
                       <strong>*Test included</strong><br />
                    }
                    <strong>Rating: </strong>
                    
                       @if (Model.Feedback.Count() > 0)
                       {
                           <span>
                             @for (int i = 1; i <= Model.OverallRating; i++)
                             { 
                                <img src="../../Content/Images/icons/star-on.png" alt=""/>
                             }
                            
                            @for (int i = Model.OverallRating + 1; i <= 5; i++)
                            {
                                <img src="../../Content/Images/icons/star-off.png" alt=""/>
                            }

                           </span>
                       }
                       else
                       { 
                           <span>not yet rated</span>
                       }
                    
			    </address>
		    </div>	
		    <div class="span6">
			    <h2><strong>Price: £@Model.TotalCost</strong></h2>
                <h5>(£@Model.Cost.ToString("0.00") exc VAT)</h5>                
		    </div>	
		    <div class="span6" style = "margin-top: 5px;">
                 @Html.ActionLink("Add to cart", "AddToCart", "ShoppingCart", new { id = Model.LearningResourceID }, new { @class = "btn btn-primary" })
		    </div>	
	  </div>	
    </div>
    <hr/>
	<div class="row">
	  <div class="span9">
        <div class="tabbable">
            <ul class="nav nav-tabs">
                <li class="active"><a href="#1" data-toggle="tab">Description</a></li>
                <li><a href="#2" data-toggle="tab" id = "reviewTab">Reviews</a></li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane active" id="1">
                    @Html.Raw(Model.Description)
                </div>
                <div class="tab-pane" id="2">
                    @if (Model.Feedback.Count() > 0)
                    {
                        foreach (var item in Model.Feedback.ToList())
                        {
                           <div class = "productReview">
                               <p>Rating: 
                                    
                                    @for (int i = 1; i <= item.Rating; i++)
                                    {
                                        <img src="../../Content/Images/icons/star-on.png" alt=""/>
                                    }

                                    @for (int i = item.Rating + 1; i <= 5; i++)
                                    {
                                        <img src="../../Content/Images/icons/star-off.png" alt=""/>
                                    }
                               </p> 
                               <p>@item.Comments<br /><br /> 
                                reviewed by @item.UserPosting.FirstName @item.UserPosting.LastName on @item.DateCreated.ToShortDateString()
                               </p>
                           </div> 
                           
                        }
                    }
                    else
                    { 
                        <p>There are currently no reviews for this item.</p>
                    }
                </div>
            </div>
        </div>
      </div>
	</div>
 </div>

