﻿@model IEnumerable<LRI.MyPlace2Learn.Models.LearningResource>
@{
    ViewBag.Title = "Store";
}
<div class="span9">
<ul class="breadcrumb">
    <li><a href="@Url.Content("~/Home/")">Home</a> <span class="divider">/</span></li>
    <li class="active">Learning Catalogue</li>
 </ul>

<h3>Learning Catalogue</h3>

<p>The learning catalogue contains over 100 courses. To begin select a category of learning from the left or click on one of our featured products below.</p>


     <div class="popular_products">
    <h4>e-learning Products</h4><br/>
    <ul class="thumbnails">

    @foreach (var resource in Model)
    { 
       <li class="span3">
          <div class="thumbnail">
             <a href="@Url.Action("Details", new { id = resource.LearningResourceID })"><img alt="@resource.Title"  id="tmp" src="@(System.Configuration.ConfigurationManager.AppSettings["ProductListImageLocation"] + resource.CatalogueListImage)"/></a>
            <div class="caption">
              <h5><a href="@Url.Action("Details", new { id = resource.LearningResourceID })"> @resource.Title</a></h5>
             
                @if(resource.Feedback.Count() > 0)
                {
                     <span>
                    @for (int i = 1; i <= resource.OverallRating; i++)
                    { 
                        <img src="../../Content/Images/icons/star-on.png" alt="" height="8" width="8" />
                    }
                            
                    @for (int i = resource.OverallRating + 1; i <= 5; i++)
                    {
                        <img src="../../Content/Images/icons/star-off.png" alt="" height="8" width="8"/>
                    }

                    </span><br />
                }
                Price: £@resource.TotalCost<br /><br />
            </div>
          </div>
        </li>  
    }

    </ul>
    </div>
  </div>