﻿a { color: #bf003c; }
a:hover { color: #000000; }

/* coloured nav bar across the top */
.navbar-inner 
{
  background-color: #bf003c; 
  background-image: -moz-linear-gradient(top, #ae0037, #bf003c); 
  background-image: -ms-linear-gradient(top, #ae0037, #bf003c);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ae0037), to(#bf003c));
  background-image: -webkit-linear-gradient(top, #ae0037, #bf003c);
  background-image: -o-linear-gradient(top, #ae0037, #bf003c);
  background-image: linear-gradient(top, #ae0037, #bf003c);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ae0037', endColorstr='#bf003c', GradientType=0);
}

.btn-navbar 
{
  background-color: #bf003c; 
  background-image: -moz-linear-gradient(top, #ae0037, #bf003c); 
  background-image: -ms-linear-gradient(top, #ae0037, #bf003c);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ae0037), to(#bf003c));
  background-image: -webkit-linear-gradient(top, #ae0037, #bf003c);
  background-image: -o-linear-gradient(top, #ae0037, #bf003c);
  background-image: linear-gradient(top, #ae0037, #bf003c);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ae0037', endColorstr='#bf003c', GradientType=0);
  border-color: #dd4814 #dd4814 #97310e;
}

.navbar .nav > li > a:hover {
  background-color: #ae0037;
  color: #000000;
}

.navbar .nav > li > a {
  border-right: 1px solid #ae0037;
  border-left: 1px solid #ae0037;
}

.btn-primary {
  background-color: #ae0037;
  background-image: -moz-linear-gradient(top, #bf003c, #ae0037);
  background-image: -ms-linear-gradient(top, #bf003c, #ae0037);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#bf003c), to(#ae0037));
  background-image: -webkit-linear-gradient(top, #bf003c, #ae0037);
  background-image: -o-linear-gradient(top, #ae0037, #bf003c);
  background-image: linear-gradient(top, #ae0037, #bf003c);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#bf003c', endColorstr='#ae0037', GradientType=0);
  border-color: #bf003c #bf003c #ae0037;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
}

.btn-primary:hover,
.btn-primary:active,
.btn-primary.active,
.btn-primary.disabled,
.btn-primary[disabled] {
  background-color: #bf003c;
  color: #000000;
}

.navbar .nav-collapse > .nav > li .dropdown-menu a {
  color: #bf003c;

}


.navbar .nav-collapse > .nav > li .dropdown-menu a:hover {
  color: #000;
  background:transparent;
}


.product_list .nav >  li .dropdown-menu a { 
    color: #bf003c;
}


.product_list .dropdown-menu {
    margin-top: -8px;
}

.product_list .dropdown a:hover {
    background:transparent;
    color: #000;
}

.product_list .dropdown li {
    width: 195px;
}

.product_list .dropdown li a:hover {
    color: #000;
}

.product_list .dropdown-menu {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=96)";
    -moz-opacity: 0.96;
    -khtml-opacity: 0.96;
    opacity: 0.96;
    margin-left: -1px;
    width:96%;
  }


.dropdown-submenu:hover > a:after {
  border-left-color: #ffffff;
}

.dropdown-menu li > a:hover,
.dropdown-menu li > a:focus,
.dropdown-submenu:hover > a {
    background-color: #fff;
    color:#000;
}

