﻿@using LRI.MyPlace2Learn.Helpers
@model LRI.MyPlace2Learn.Models.User

@{ 
    ViewBag.Title = "Administration: User Account";
}

<ul class="breadcrumb">
	<li><a href="@Url.Content("~")">Home</a> <span class="divider">/</span></li>
    <li><a href="@Url.Content("~/User/")">Admin: Users</a><span class="divider">/</span></li>
	 
        @if (Model == null)
        { 
           <li class="active">New User</li>
        }
        else
        { 
           <li class="active">Edit User</li>
        }
    
</ul>
<h2>User Account Administration</h2>
<p></p>
<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

@using (Html.BeginForm(new { @class = "form-horizontal" }))
{   
    @Html.ValidationSummary(true, "Account creation was unsuccessful. Please correct the errors and try again.")
    @Html.HiddenFor(m=>m.UserId)
    <div class = "span6 no_margin_left">
        <fieldset>
        <legend>User Account Details</legend>
                <div class="control-group">
                   @Html.LabelFor(m => m.FirstName, new { @class = "control-label" })
                   <div class="controls docs-input-sizes">
                     @Html.TextBoxFor(m => m.FirstName, new { @class = "span4", @placeholder = "Enter first name" })
                     @Html.ValidationMessageFor(m => m.FirstName)
                   </div>
                </div>
                 <div class="control-group">
                   @Html.LabelFor(m => m.LastName, new { @class = "control-label" })
                   <div class="controls docs-input-sizes">
                     @Html.TextBoxFor(m => m.LastName, new { @class = "span4", @placeholder = "Enter last name" })
                     @Html.ValidationMessageFor(m => m.LastName)
                   </div>
                </div>
                 <div class="control-group">
                   @Html.LabelFor(m => m.Email, new { @class = "control-label" })
                   <div class="controls docs-input-sizes">
                     @Html.TextBoxFor(m => m.Email, new { @class = "span4", @placeholder = "Enter email address" })
                     @Html.ValidationMessageFor(m => m.Email)
                   </div>
                </div>
                 <div class="control-group">
                   @Html.LabelFor(m => m.IsActive, new { @class = "control-label" })
                    <div class="controls docs-input-sizes">
                         @Html.DropDownListFor(m=>m.IsActive, new SelectList(new StatusListItems((Model != null)? Model.IsActive : true).ListItems, "Value", "Text"))
                         @Html.ValidationMessageFor(m => m.IsActive)
                    </div>
                </div>
        </fieldset>
      </div>
      <div class="span6">
        <fieldset>
		    <legend>Security</legend>
                <div class="control-group">
                  <label class="control-label" for="RoleId">Role*</label>
                   <div class="controls docs-input-sizes">
                     @Html.DropDownList("RoleId", new SelectList((IEnumerable<SelectListItem>)ViewBag.Roles, "Value", "Text"), "Please select..")
                    </div>
                </div>
                 <div class="control-group">
                   @Html.LabelFor(m => m.Password, new { @class = "control-label" })
                   <div class="controls docs-input-sizes">
                     @Html.TextBoxFor(m => m.Password, new { @class = "span4", @placeholder = "Enter a password" })
                     @Html.ValidationMessageFor(m => m.Password)
                   </div>
                </div>
            
                <div class="control-group">
                    @Html.LabelFor(m => m.DSSecurityQuestion, new { @class = "control-label" })
                    <div class="controls docs-input-sizes">
                        @Html.DropDownListFor(m => m.DSSecurityQuestion,
                                     new SelectList((new DataSetValueList(2)).DataSetValues, "DatasetValueId", "Value"), "Please select..")
                         @Html.ValidationMessageFor(m => m.DSSecurityQuestion)
                    </div>
                </div>
                 <div class="control-group">
                    @Html.LabelFor(m => m.SecurityQuestionAnswer, new { @class = "control-label" })
                 </div>
                 <div class="controls docs-input-sizes">
                    @Html.TextBoxFor(m => m.SecurityQuestionAnswer, new { @class = "span4" })
                    @Html.ValidationMessageFor(m => m.SecurityQuestionAnswer)
                 </div>
           
        </fieldset>
       
       </div>
      
    <div class="row span12 no_margin_left">	
         <hr />  
        <input type="submit" value="Submit" class="btn btn-primary btn-large pull-right"/>
    </div>  
    
}

