﻿@using PagedList
@using PagedList.Mvc
@model IPagedList<LRI.MyPlace2Learn.Models.User>

@{
    ViewBag.Title = "Index";
}

<ul class="breadcrumb">
	<li><a href="#">Home</a> <span class="divider">/</span></li>
    <li class="active">Admin: Users</li>
</ul>
<h2>Users</h2>
<div class="span8 no_margin_left">
    <select id = "active" name = "active">
        <option id = "1">Active</option>
        <option id = "0">Inactive</option>
    </select>
    <input id = "nameSearch" name = "nameSearch" />
     @Html.ActionLink("Filter", "Edit", null, new { @class = "btn btn-primary pull-right" })
</div>
<div class="span6"> @Html.ActionLink("Create New", "Edit", null, new { @class = "btn btn-primary pull-right" })</div>

<table class="table table-bordered table-striped">
    <tr>
        <th>
           Name
        </th>
        <th  style="width:12%; text-align: center;">Actions</th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
           @Html.DisplayFor(modelItem => item.LastName), @Html.DisplayFor(modelItem => item.FirstName)
        </td>
        <td style="width:12%; text-align: center;">
            @Html.ActionLink("Edit", "Edit", new { id=item.UserId })
        </td>
    </tr>
}

</table>
<div class = "span12" style = "text-align:center;">
    @Html.PagedListPager(Model, page => Url.Action("Index", new { page }))
</div>