﻿@model LRI.MyPlace2Learn.Models.Order

@{
    ViewBag.Title = "Order Details";
}


<ul class="breadcrumb">
    <li><a href="@Url.Content("~/Home/")">Home</a> <span class="divider">/</span></li>
    <li><a href="@Url.Content("~/Order/")">Order History</a> <span class="divider">/</span></li>
    <li class="active">Order No. @Model.OrderId</li>
</ul>

<h2>Order No @Model.OrderId</h2>

<h4>Date @Model.OrderDate.ToShortDateString()</h4>
<br />
<div class= "span10">
<table class="table table-bordered table-striped">
<thead>
	<tr>
	    <th style = "width: 70%;">Title</th>
	    <th style = "width: 10%; text-align:center;">Price</th>	
	</tr>
</thead>
<tbody>

@foreach (var item in Model.OrderDetails)
{ 
    <tr>
        <td>@item.LearningResource.Title</td>
        <td style = "text-align:right;">£@item.UnitPrice.ToString("0.00")</td>
    </tr>

}</tbody>
<tfoot>
<tr style="height: 5px;"><td colspan = "2"></td></tr>
<tr>
        <td style = "text-align:right;">Total</td>
        <td style = "text-align:right;"><strong>£@Model.Total.ToString("0.00")</strong></td>
    </tr>
     <tr>
        <td style = "text-align:right;">VAT</td>
        <td style = "text-align:right;"><strong>£@(LRI.MyPlace2Learn.Utility.UtilityFunction.VATCalculation(Model.Total).ToString("0.00"))</strong></td>
    </tr>
     <tr>
        <td style = "text-align:right;">Order Total</td>
        <td style = "text-align:right;"><strong>£@((LRI.MyPlace2Learn.Utility.UtilityFunction.VATCalculation(Model.Total)+Model.Total).ToString("0.00"))</strong></td>
    </tr>
</tfoot>
</table>
</div>