﻿@using PagedList
@using PagedList.Mvc
@model IPagedList<LRI.MyPlace2Learn.Models.Order>

@{
    ViewBag.Title = "Order History";
}
<ul class="breadcrumb">
    <li><a href="@Url.Content("~/Home/")">Home</a> <span class="divider">/</span></li>
    <li class="active">@ViewBag.Title</li>
</ul>
<h2>@ViewBag.Title</h2><br />
<div class = "span10">
    <table class="table table-bordered table-striped">
    <thead>
	    <tr>
	        <th style = "width: 70%;">Order Date</th>
	        <th style = "width: 15%;">Order Number</th>
	        <th style = "width: 10%;">Total</th>
	        <th style = "width: 5%;"></th>			
	    </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        { 
            <tr>
                <td>@item.OrderDate.ToShortDateString()</td>
                <td>@item.OrderId</td>
                <td>£@item.GrossTotal</td>
                <td>@Html.ActionLink("View", "Details", "Order", new { id = item.OrderId }, new { @class = "btn btn-primary" })</td>
            </tr>
        }
    </tbody>
    </table>
</div>
<div class = "span10" style = "text-align:center;">
@Html.PagedListPager(Model, page => Url.Action("Index", new { page }))
</div>
