﻿@model LRI.MyPlace2Learn.Models.NewsletterSubscription

@{
    ViewBag.Title = "Sign up for eNews";
}

<div class = "span9">
    <div class = "page-header"><h1>Sign up for eNews</h1></div>

@using (Html.BeginForm(new { @class = "form-horizontal" }))
{   
    @Html.ValidationSummary(true, "Your details can not be sent. Please correct the errors and try again.")
 <fieldset>
             <div class="editor-label">
                @Html.LabelFor(m => m.FirstName, new { @class = "control-label" })
            </div>
            <div class="editor-field">
                @Html.TextBoxFor(m => m.FirstName, new { @class = "input-xlarge focused span6", @placeholder = "your first name" })
                @Html.ValidationMessageFor(m => m.FirstName)
            </div>
             <div class="editor-label">
                @Html.LabelFor(m => m.LastName, new { @class = "control-label" })
            </div>
             <div class="editor-field">
                @Html.TextBoxFor(m => m.LastName, new { @class = "input-xlarge focused span6", @placeholder = "your last name" })
                @Html.ValidationMessageFor(m => m.LastName)
            </div>
            <div class="editor-label">
                @Html.LabelFor(m => m.Email, new { @class = "control-label" })
            </div>
            <div class="editor-field">
                @Html.TextBoxFor(m => m.Email, new { @class = "input-xlarge focused span6", @placeholder = "your email" })
                @Html.ValidationMessageFor(m => m.Email)
            </div>
            <hr />
            <p>
                <input type="submit" value="Submit" class="btn btn-primary pull-right"/>
            </p>
        </fieldset>
    
}

</div>