body {padding-top: 10px;padding-bottom: 40px;}
.span12, .container {width: 940px;}
.no_margin_left {margin-left: 0;}
footer h4 {margin-bottom: 8px;}

/** redo commented out lines & move added stuff to overrides.css **/
.logo { height: 75px;
/*height: 90px; */
}

.alignRight { text-align: right; }

.links a {
	margin-right: 5px;
}

/* product_list - the side bar*/
.product_list {
	margin-top: -5px;
	margin-left: 5px;
	min-height: 500px;
}
.product_list ul {
	list-style: none;
	margin: 0;
}
.product_list > ul > li {
	padding: 8px 8px 8px 0px;
}
.product_list > ul > li + li {
	border-top: 1px solid #EEEEEE;
}
.product_list > ul > li > a {
	text-decoration: none;
}
.product_list > ul > li > a:hover{
	text-decoration: none;
	background: none;
}
.product_list > ul > li ul {
	display: none;
}
.product_list > ul > li a.active {
	font-weight: bold;
}
.product_list > ul > li a.active + ul {
	display: block;
}
.product_list > ul > li ul > li {
	padding: 5px 5px 0px 10px;
}
.product_list > ul > li ul > li > a {
	text-decoration: none;
	display: block;
}
.product_list > ul > li ul > li > a.active {
	font-weight: bold;
}


.related_products .span2 {
width:160px;
}


.product_comparison .thumbnail{
border: none;
text-align:center;

}

.product_comparison small{
font-weight: normal;
}

.product_comparison .product_stars {
text-align:center;
margin: 0 auto;
width: 85px;
}
.product_comparison .price_summary td{
text-align:center;
}
.navbar .btn.search_btn {
margin-top:1px;
}

.carousel-inner {
    height: 286px;
}
.carousel-caption {
bottom: -77px;
}

.popular_products .span2{
 width:160px;
}

.popular_products
{
   margin-left: 10px;   
}

.popular_products .span3{
    width: 220px;
    margin-left: 10px;
}

.customer_service {
text-align:right;
font-size:13px;
}

.table td.center_text{
text-align:center;
}

#theme_switcher {
   top:10px;
   left:10px;
   position:fixed;
}


/** extra bits **/

.largeTextArea { width: 400px; height: 100px; }
.statusFilter { width: 130px; margin-right: 8px;}

.input-validation-error {
    border: 1px solid #ff0000;
    background-color: #ffeeee;
}

.field-validation-error{ color: #ff0000; margin-left: 5px; }

#stars 
{
    margin-left: 10px;
}

.productReview { border-bottom: 1px solid #DDDDDD; margin-bottom: 5px;}

.dropdown-submenu {
        position:relative;
        overflow: visible;
    }

.dropdown-menu {
    
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=96)";
    -moz-opacity: 0.96;
    -khtml-opacity: 0.96;
    opacity: 0.96;
    margin-left: -1px;
  }

.dropdown-menu > .dropdown-submenu {
        left:0;
        -webkit-border-radius:0 6px 6px 6px;
        -moz-border-radius:0 6px 6px 6px;
        border-radius:0 6px 6px 6px;
    }

.product_list .dropdown-submenu .dropdown-menu  { 
    display: none; 
    margin-left: 1px;
}


.dropdown-submenu:hover > .dropdown-menu {
        display:block;
    }


