﻿@model IEnumerable<LRI.MyPlace2Learn.Models.RegistrationReportModel>

@{
    ViewBag.Title = "View1";
}

<h2>View1</h2>

<table border="1" cellpadding = "10">
    
    @foreach (var item in Model)
    { 
        <tr>
            <td>@item.RegistrationId</td>
            <td>@item.CourseId</td>
        </tr>
    }


</table>
