﻿@model LRI.MyPlace2Learn.ViewModels.ShoppingCartViewModel
@{
    ViewBag.Title = "Your Shopping Basket";
}
<script src="/Scripts/jquery-1.5.1.min.js" type="text/javascript"></script>
<script type="text/javascript">
    $(function () {
        // Document.ready -> link up remove event handler
        $(".RemoveLink").click(function () {
            // Get the id from the link
            var recordToDelete = $(this).attr("data-id");

            if (recordToDelete != '') {

                // Perform the ajax post
                $.post("/ShoppingCart/RemoveFromCart", { "id": recordToDelete },
                    function (data) {
                        // Successful requests get here
                        // Update the page elements
                        if (data.ItemCount == 0) {
                            if (data.DeleteIds.indexOf(",") > -1) {
                                var arrTemp = data.DeleteIds.split(",");
                                for (var i = 0; i < arrTemp.length; i++) {
                                    $('#row-' + arrTemp[i]).fadeOut('slow');
                                }
                            }                          
                            else {
                                $('#row-' + data.DeleteIds).fadeOut('slow');
                            }
                        } 
                        else {
                            $('#item-count-' + data.DeleteIds).text(data.ItemCount);
                        }


                        var totalCost = data.VATTotal + data.CartTotal

                        $('#VATTotal').text(data.VATTotal);
                        $('#NetTotal').text(data.CartTotal);
                        $('#OrderTotal').text(totalCost);
                        $('#update-message').text(data.Message);
                        $('#cart-status').text('Cart (' + data.CartCount + ')');
                    });
            }
        });

        $("#checkoutClick").click(function () {
            if ($('#cart-status').text().indexOf("(0)") >= 0) {
                alert("Your shopping basket is empty!");
                return false;
            }
        });

    });

</script>
<ul class="breadcrumb">
    <li><a href="@Url.Content("~/Home/")">Home</a> <span class="divider">/</span></li>
    <li class="active">@ViewBag.Title</li>
</ul>
 <h2>Your Shopping Basket</h2><br />   
 <div class="span10">
    <table class="table table-bordered table-striped">
    <thead>
	    <tr>
             <th style = "width: 5%;"></th>	
	        <th>Course</th>
	        <th style = "width: 15%;">Course Reference</th>
	        <th style = "width: 15%; text-align: center;">Price (Exc. VAT)</th>
	        		
	    </tr>
    </thead>
    
    
    @if (Model.CartItems.Count == 0)
    {
        <tr><td colspan = "4" style="text-align: center;"><strong>Shopping basket empty!</strong></td></tr>
    }
    else
    {
        <tbody>
        @foreach (var item in Model.CartItems)
        {
            <tr id="row-@item.RecordId">
                <td>
                    @if(item.LearningResource.ParentID == null || item.LearningResource.ParentID == 0)
                    {
                        <a href="#" class="RemoveLink" data-id="@item.RecordId">Remove</a>
                    }
                </td>
                <td>
                    @Html.ActionLink(item.LearningResource.Title, "Details", "Store", new { id = item.LearningResourceId }, null)
                </td>
                <td>@item.LearningResource.Reference</td>
                <td style = "text-align: right;">£@item.LearningResource.Cost.ToString("0.00")</td> 
               
            </tr>       
                    
        }  
        </tbody> 
        <tfoot>
        <tr style="height: 5px;" class="nohighlight"><td colspan = "4"></td></tr>  
        <tr>
	        <td colspan = "3"  style = "text-align: right;">Net Total</td>
	        <td style = "text-align: right;"><strong>£<span id = "NetTotal">@Model.CartTotal.ToString("0.00")</span></strong></td>
	    </tr>
        <tr>
	        <td colspan = "3" style = "text-align: right;">VAT</td>
	        <td style = "text-align: right;"><strong>£<span id = "VATTotal">@Model.VATTotal.ToString("0.00")</span></strong></td>
	    </tr>	
        <tr>
	        <td colspan = "3" style = "text-align: right;"><strong>Total</strong></td>
	        <td style = "text-align: right;"><strong>£<span id = "OrderTotal">@Model.OrderTotal.ToString("0.00")</span></strong></td>
	    </tr>
       	</tfoot> 
    }

</table> 
<div class="row">	  
<div class="span5">
    <a href="@Url.Content("~/Store/")" class="btn btn-primary"><< Return to Learning Catalogue</a>
</div>		  
<div class="span5">
        @Html.ActionLink("Checkout >>", "AddressAndPayment", "Checkout", null, new { @class = "btn btn-primary pull-right", @id="checkoutClick" })
</div>
</div>
</div>

