﻿@model LRI.MyPlace2Learn.Models.ContactModel
@{
	ViewBag.Title = "Contact";
}

<div class="span3 no_margin_left">
	<h2>Our location</h2>
	<h3>Address:</h3>	
	<p>
		@System.Configuration.ConfigurationManager.AppSettings["ClientNameFull"], <br />
		@System.Configuration.ConfigurationManager.AppSettings["Address1"], <br />
		@System.Configuration.ConfigurationManager.AppSettings["Address2"] <br />
		@System.Configuration.ConfigurationManager.AppSettings["Address3"]<br />
		@System.Configuration.ConfigurationManager.AppSettings["Address4"]<br />
		Tel: @System.Configuration.ConfigurationManager.AppSettings["ContactUsTel"]<br />
	</p>
	@if (@System.Configuration.ConfigurationManager.AppSettings["VATNumber"].Length > 0)
	{ 
		<p>
			Company Number: @System.Configuration.ConfigurationManager.AppSettings["CompanyNumber"]<br />
			VAT number: @System.Configuration.ConfigurationManager.AppSettings["VATNumber"]
		</p>
	}
</div>
<div class="span9">
	<div class="page-header"><h1>Contact Us</h1></div>
	@using (Html.BeginForm(new { @class = "form-horizontal" }))
	{
		@Html.ValidationSummary(true, "Your message can not be sent. Please correct the errors and try again.")
		<fieldset>
			<div class="editor-label">
				@Html.LabelFor(m => m.Name, new { @class = "control-label" })
			</div>
			<div class="editor-field">
				@Html.TextBoxFor(m => m.Name, new { @class = "input-xlarge focused span6", @placeholder = "your name" })
				@Html.ValidationMessageFor(m => m.Name)
			</div>
			<div class="editor-label">
				@Html.LabelFor(m => m.Email, new { @class = "control-label" })
			</div>
			<div class="editor-field">
				@Html.TextBoxFor(m => m.Email, new { @class = "input-xlarge focused span6", @placeholder = "your email" })
				@Html.ValidationMessageFor(m => m.Email)
			</div>
			<div class="editor-label">
				@Html.LabelFor(m => m.Subject, new { @class = "control-label" })
			</div>
			<div class="editor-field">
				@Html.TextBoxFor(m => m.Subject, new { @class = "input-xlarge focused span6", @placeholder = "subject" })
				@Html.ValidationMessageFor(m => m.Subject)
			</div>
			<div class="editor-label">
				@Html.LabelFor(m => m.Message, new { @class = "control-label" })
			</div>
			<div class="editor-field">
				@Html.TextAreaFor(m => m.Message, new { @class = "input-xlarge focused span6", @placeholder = "what do you want to contact us about?" })
				@Html.ValidationMessageFor(m => m.Message)
			</div>

			<hr />
			<p>
				<input type="submit" value="Submit" class="btn btn-primary pull-right" />
			</p>
		</fieldset>

	}
</div>