﻿@model IEnumerable<LRI.MyPlace2Learn.Models.LearningResource>

@{
    ViewBag.Title = System.Configuration.ConfigurationManager.AppSettings["ViewBagTitle"];
}

   <div class = "span9">
       <img src="../../Content/@(System.Configuration.ConfigurationManager.AppSettings["Client"])/Images/homepage_promo_main.jpg" alt="" />
   <div class = "popular_products">
    <h4 style="margin-top: 10px; margin-bottom: 8px;">e-learning Products</h4>
    <ul class="thumbnails">

    @foreach (var resource in Model)
    { 
       <li class="span3">
          <div class="thumbnail">
             <a href="@Url.Action("Details", "Store", new { id = resource.LearningResourceID })"><img alt="@resource.Title"  id="tmp" src="@(System.Configuration.ConfigurationManager.AppSettings["ProductListImageLocation"] + resource.CatalogueListImage)"/></a>
            <div class="caption">
              <h5><a href="@Url.Action("Details", "Store", new { id = resource.LearningResourceID })"> @resource.Title</a></h5>  Price: £@resource.TotalCost<br /><br />
            </div>
          </div>
        </li>  
    }

    </ul>
 
</div>

</div>