﻿@model LRI.MyPlace2Learn.Models.LearningResource

@{
    if (string.IsNullOrEmpty(Request.QueryString["id"]))
    {
        ViewBag.Title = "Create Learning Resource";
    }
    else
    {
        ViewBag.Title = "Edit Learning Resource";
    }
    
    
}

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true, "Learning Resource details were not updated due to errors. Please correct the errors and try again.")
     @Html.HiddenFor(model => model.LearningResourceID)
    <div class = "row">
        <fieldset>
        <legend>Display Details</legend>
            <div class ="span12 no_margin_left">
                <div class="editor-label">
                    @Html.LabelFor(model => model.Title)
                </div>
                <div class="editor-field">
                    @Html.EditorFor(model => model.Title)
                    @Html.ValidationMessageFor(model => model.Title)
                </div> 
                <div class="editor-label">
                    @Html.LabelFor(model => model.CatalogueImageFileName)
                </div>
                <div class="editor-field">
                    @Html.EditorFor(model => model.CatalogueImageFileName)
                    @Html.ValidationMessageFor(model => model.CatalogueImageFileName)
                </div>
               <div class="editor-label">
                    @Html.LabelFor(model => model.Synopsis)
                </div>
                <div class="editor-field">
                    @Html.TextAreaFor(model => model.Synopsis)
                    @Html.ValidationMessageFor(model => model.Synopsis)
                </div>
                <div class="editor-label">
                    @Html.LabelFor(model => model.Description)
                </div>
                <div class="editor-field">
                    @Html.TextAreaFor(model => model.Description)
                    @Html.ValidationMessageFor(model => model.Description)
                </div>
            </div>
        </fieldset>
        <hr />
        <fieldset>
            <legend>Course Settings</legend>
            <div class = "span6 no_margin_left">
                <div class="editor-label">
                    @Html.LabelFor(model => model.Scored)
                </div>
                <div class="editor-field">
                    @Html.CheckBoxFor(model => model.Scored)
                    @Html.ValidationMessageFor(model => model.Scored)
                </div>
                    <div class="editor-label">
                    @Html.LabelFor(model => model.Length)
                </div>
                <div class="editor-field">
                    @Html.EditorFor(model => model.Length)
                    @Html.ValidationMessageFor(model => model.Length)
                </div>
            </div>
            <div class = "span6 no_margin_left">
                <div class="editor-label">
                    @Html.LabelFor(model => model.Cost)
                </div>
                <div class="editor-field">
                    @Html.EditorFor(model => model.Cost)
                    @Html.ValidationMessageFor(model => model.Cost)
                </div>
                <div class="editor-label">
                    @Html.LabelFor(model => model.ParentID)
                </div>
                <div class="editor-field">
                    @Html.EditorFor(model => model.ParentID)
                    @Html.ValidationMessageFor(model => model.ParentID)
                </div>
            </div>
        </fieldset>
        <fieldset>
        <legend>Published Details</legend>
            <div class="span6 no_margin_left">
                <div class="editor-label">
                    @Html.LabelFor(model => model.Reference)
                </div>
                <div class="editor-field">
                    @Html.EditorFor(model => model.Reference)
                    @Html.ValidationMessageFor(model => model.Reference)
                </div> 
                <div class="editor-label">
                    @Html.LabelFor(model => model.Version)
                </div>
                <div class="editor-field">
                    @Html.EditorFor(model => model.Version)
                    @Html.ValidationMessageFor(model => model.Version)
                </div>
               
            </div>
            <div class="span6 no_margin_left">
                 <div class="editor-label">
                     @Html.LabelFor(model => model.Author)
                 </div>
                 <div class="editor-field">
                     @Html.EditorFor(model => model.Author)
                     @Html.ValidationMessageFor(model => model.Author)
                 </div>
                 <div class="editor-label">
                    @Html.LabelFor(model => model.Publisher)
                </div>
                <div class="editor-field">
                    @Html.EditorFor(model => model.Publisher)
                    @Html.ValidationMessageFor(model => model.Publisher)
                </div>

                <div class="editor-label">
                    @Html.LabelFor(model => model.PublishDate)
                </div>
                <div class="editor-field">
                    @Html.EditorFor(model => model.PublishDate)
                    @Html.ValidationMessageFor(model => model.PublishDate)
                </div>          
           </div>
        </fieldset>
           
        
    </div>
    
   
        
@*
       

                      

       

        

       

 


 





        <div class="editor-label">
            @Html.LabelFor(model => model.CanBeBorrowed)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.CanBeBorrowed)
            @Html.ValidationMessageFor(model => model.CanBeBorrowed)
        </div>


        <div class="editor-label">
            @Html.LabelFor(model => model.TargetDateDays)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.TargetDateDays)
            @Html.ValidationMessageFor(model => model.TargetDateDays)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.TargetDateHours)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.TargetDateHours)
            @Html.ValidationMessageFor(model => model.TargetDateHours)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.TargetDateMinutes)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.TargetDateMinutes)
            @Html.ValidationMessageFor(model => model.TargetDateMinutes)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.CPDEligible)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.CPDEligible)
            @Html.ValidationMessageFor(model => model.CPDEligible)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ISBN)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ISBN)
            @Html.ValidationMessageFor(model => model.ISBN)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ISSN)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ISSN)
            @Html.ValidationMessageFor(model => model.ISSN)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Notes)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Notes)
            @Html.ValidationMessageFor(model => model.Notes)
        </div>



        <div class="editor-label">
            @Html.LabelFor(model => model.RequiresSurvey)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.RequiresSurvey)
            @Html.ValidationMessageFor(model => model.RequiresSurvey)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.SurveyFormID)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.SurveyFormID)
            @Html.ValidationMessageFor(model => model.SurveyFormID)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.DSResourceTypeID)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.DSResourceTypeID)
            @Html.ValidationMessageFor(model => model.DSResourceTypeID)
        </div>

        

        <div class="editor-label">
            @Html.LabelFor(model => model.IsActive)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.IsActive)
            @Html.ValidationMessageFor(model => model.IsActive)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.IsArchived)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.IsArchived)
            @Html.ValidationMessageFor(model => model.IsArchived)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.CreatedBy)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.CreatedBy)
            @Html.ValidationMessageFor(model => model.CreatedBy)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.CreatedOn)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.CreatedOn)
            @Html.ValidationMessageFor(model => model.CreatedOn)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.LastUpdatedBy)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.LastUpdatedBy)
            @Html.ValidationMessageFor(model => model.LastUpdatedBy)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.LastUpdatedOn)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.LastUpdatedOn)
            @Html.ValidationMessageFor(model => model.LastUpdatedOn)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.BusinessUnitID)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.BusinessUnitID)
            @Html.ValidationMessageFor(model => model.BusinessUnitID)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.LearningResourceGUID)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.LearningResourceGUID)
            @Html.ValidationMessageFor(model => model.LearningResourceGUID)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.MediaTypeID)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.MediaTypeID)
            @Html.ValidationMessageFor(model => model.MediaTypeID)
        </div>

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}*@

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

}
