﻿@using PagedList;
@using PagedList.Mvc
@model IPagedList<LRI.MyPlace2Learn.Models.LearningResource>

@{
    ViewBag.Title = "Index";
}

<h2>Learning Resources</h2>
<p>
    @Html.ActionLink("Create New", "Edit", null, new { @class = "btn btn-primary pull-right" })
</p>
<table class="table table-bordered table-striped">
    <tr>
        <th>
           Title
        </th>
        
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
       
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.LearningResourceID }) 
        </td>
    </tr>
}

</table>
