﻿@using PagedList
@using PagedList.Mvc
@model PagedList<LRI.MyPlace2Learn.Models.LearningPlanTask>

@{
    ViewBag.Title = "My Learning";
}

<script src="../../Scripts/JqueryLibrary/UIWidgets/jquery.ui.core.min.js" type="text/javascript"></script>
<script src="../../Scripts/JqueryLibrary/UIWidgets/jquery.ui.widget.min.js" type="text/javascript"></script>
<script src="../../Scripts/JqueryLibrary/UIWidgets/jquery.ui.mouse.min.js" type="text/javascript"></script>
<script src="../../Scripts/JqueryLibrary/UIWidgets/jquery.ui.button.min.js" type="text/javascript"></script>
<script src="../../Scripts/JqueryLibrary/UIWidgets/jquery.ui.draggable.min.js" type="text/javascript"></script>
<script src="../../Scripts/JqueryLibrary/UIWidgets/jquery.ui.position.min.js" type="text/javascript"></script>
<script src="../../Scripts/JqueryLibrary/UIWidgets/jquery.ui.resizable.min.js" type="text/javascript"></script>
<script src="../../Scripts/JqueryLibrary/UIWidgets/jquery.ui.dialog.min.js" type="text/javascript"></script>
<script src="../../Scripts/JqueryLibrary/RatyPlugin/jquery.raty.min.js" type="text/javascript"></script>
<script src="../../Scripts/LRILibrary/jQuery.Learning.js" type="text/javascript"></script>

<ul class="breadcrumb">
    <li><a href="@Url.Content("~/Home/")">Home</a> <span class="divider">/</span></li>
    <li class="active">@ViewBag.Title</li>
</ul>
<h2>@ViewBag.Title</h2><br />   
@if (TempData["ERRORMESSAGE"] != null)
{ 
    <div class="row error">
        @TempData["ERRORMESSAGE"]
    </div>
} 

<table class="table table-bordered table-striped">
    <tr>
        <th style="text-align: left;" >
            Learning Resource
        </th>
        <th style="text-align: center;">
            Started
        </th>
        <th style="text-align: center;">
            Finished
        </th>
        <th style="text-align: center;">
            Expires
        </th>
        <th></th>
    </tr>

@if(Model.Count() == 0)
{
    <tr><td colspan = "5" style = "text-align: center;"><strong>You have not purchased any courses yet.</strong></td></tr>
}
else
{

    foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.LearningResource.Title)

                @if (item.Finished != null && !item.LearningResource.Scored && !item.LearningResource.Feedback.Any(e => e.UserId == Convert.ToInt32(System.Web.HttpContext.Current.Session["UserId"])))
                {
                    <p><a href = "#" data-id="@item.LearningResourceId" data-title = "@item.LearningResource.Title" class = "reviewLink">Review this course</a></p>
                }
            </td>
            <td style="text-align: center; width: 12%;">
                @Html.DisplayFor(modelItem => item.Started)
            </td>
            <td style="text-align: left; width: 12%;">
                @Html.DisplayFor(modelItem => item.Finished)
            </td>
            <td style="text-align: left; width: 12%;">
                @Html.DisplayFor(modelItem => item.ExpiryDate)
            </td>
            <td style="text-align: center; width: 12%;">
                    <a href = "#" class = "btn btn-primary viewLink" data-id="@item.LearningPlanTaskId" cdata-id = "@item.LearningResourceId">View Details</a>
            </td>

            @if (Convert.ToBoolean(System.Configuration.ConfigurationManager.AppSettings["IsDEBUG"]) && HttpContext.Current.User.IsInRole("LRIAdmin"))
            {
              <td style="text-align: center; width: 12%;">
                    <a href = "#" class = "btn btn-primary deleteLink" data-id="@item.LearningPlanTaskId">Delete</a>
                </td>  
            }


        </tr>
    }
}
</table>
  <div class = "span12" style = "text-align:center;">
    @Html.PagedListPager(Model, page => Url.Action("Index", new { page }))
 </div>

<div id="TaskDetails" style="display: none;" class="ui-widget">
    <div id = "loader" style="display:none; text-align: center; vertical-align: middle; margin-top: 25%;">
        <img src="../../Content/Images/ajax-loader.gif" alt = "Loading.."/>
    </div>
    <div id="Basic" class="ui-widget ui-widget-content">
        <table  class="table table-bordered table-striped">
            <tr>
                <td>Name:</td>
                <td><span id="lblDlgName"></span></td>
            </tr>
            <tr>
                <td>Learning Time:</td>
                <td><span id="lblDlgLearningTime"></span></td>
            </tr>
            <tr>
                <td>Started:</td>
                <td><span id="lblDlgStartDate"></span></td>
            </tr>
            <tr>
                <td>Completed:</td>
                <td><span id="lblDlgFinishDate"></span></td>
            </tr>
        </table>
    </div>
    <div id="ScoreHistory" style="display: none;">
        <table id="Scores" class="table table-bordered table-striped">
            <tr>
                <td>Attempt No.</td>
                <td>Score</td>
                <td>Result</td>
                <td>Date Achieved</td>
            </tr>
        </table>
    </div>
</div>
<div id = "FeedbackForm"  class="ui-widget" style = "display:none;">
    <div id = "loader2" style="display:none; text-align: center; vertical-align: middle; margin-top: 25%;">
        <img src="../../Content/Images/ajax-loader.gif" alt = "Loading.."/>
    </div>
    <div id = "Feedback" class="ui-widget ui-widget-content">
     <table  class="table table-bordered table-striped">
           <tr>
               <td>Please rate the course</td>
               <td>
                    <a href="#" class = "starRating" data-value = "1"><img src="../../Content/Images/icons/star-off.png" alt="" id = "img1"/></a>
                    <a href="#" class = "starRating" data-value = "2"><img src="../../Content/Images/icons/star-off.png" alt="" id = "img2"/></a>
                    <a href="#" class = "starRating" data-value = "3"><img src="../../Content/Images/icons/star-off.png" alt="" id = "img3"/></a>
                    <a href="#" class = "starRating" data-value = "4"><img src="../../Content/Images/icons/star-off.png" alt="" id = "img4"/></a>
                    <a href="#" class = "starRating" data-value = "5"><img src="../../Content/Images/icons/star-off.png" alt="" id = "img5"/></a>
                    <input type = "hidden" id = "Rating" name = "Rating" value = "0"/>
                </td>
            </tr>
            <tr><td colspan = "2">Your review:<br />
            <textarea id = "feedbackComments" name = "feedbackComments" style = "height: 200px; width: 380px;" ></textarea></td></tr>
        </table>
    </div>
</div>
