﻿@model IEnumerable<LRI.MyPlace2Learn.ViewModels.SCORMRegistrationViewModel>

@{
    ViewBag.Title = "SCORMRegistrationList";
    Layout = "~/Views/Shared/_LayoutNoLeftMenu.cshtml";
}

<h2>SCORMRegistrationList</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.RegistrationId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CourseId)
        </th>
        <th>@Html.DisplayNameFor(model=>model.LearnerId)</th>
        <th>@Html.DisplayNameFor(model => model.LearnerName)</th>
        <th>@Html.DisplayNameFor(model => model.CourseTitle)</th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.RegistrationId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CourseId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LearnerId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LearnerName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CourseTitle)
        </td>
    </tr>
}

</table>
