﻿@model LRI.MyPlace2Learn.ViewModels.ShoppingCartViewModel

@{
    ViewBag.Title = "Address And Payment";
}

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

@using (Html.BeginForm())
{
    
    <h2>Confirm and Pay</h2>

    <p>Please review the details of the your order below.</p>
   <div class = "span10">
      <table class="table table-bordered table-striped">
        <thead>
        <tr>
            <th>
                Title
            </th>
            <th style = "width: 15%; text-align: center;">
                Price
            </th>
        </tr>
        </thead>
        <tbody>
        @foreach (var item in Model.CartItems)
        {
            <tr>
                <td>
                 @Html.DisplayFor(modelItem => item.LearningResource.Title)
                </td>
                <td style = "text-align:right;">
                    £@item.LearningResource.Cost.ToString("0.00")
                </td>
            </tr>
       
        }
        </tbody>
        <tfoot>
        <tr style="height: 5px;"><td colspan = "2"></td></tr>
        <tr>
            <td style = "text-align:right;">Total</td>
            <td style = "text-align:right;"><strong>£@Model.CartTotal.ToString("0.00")</strong></td>
        </tr>
         <tr>
            <td style = "text-align:right;">VAT</td>
            <td style = "text-align:right;"><strong>£@Model.VATTotal</strong></td>
        </tr>
         <tr>
            <td style = "text-align:right;">Order Total</td>
            <td style = "text-align:right;"><strong>£@Model.OrderTotal.ToString("0.00")</strong></td>
        </tr>
        </tfoot>
    </table>
       <div class = "pull-right"> <input  type="image" src="https://www.paypal.com/en_US/i/btn/btn_xpressCheckout.gif" title ="Pay by paypal" /></div>
    </div>
}