﻿@model int

@{
    ViewBag.Title = "Checkout Complete";
}

<h2>Checkout Complete</h2>

<p>Thanks for your order! Your order number is: @Model</p>

<p>You will shortly recieve an email confirming details of your order.</p>

<p><a href = "@Url.Content("~/LearningPlan/")">Click here to go to your learning plan</a></p>
