﻿@model PayPalMVC.Models.Paypal

@{
    ViewBag.Title = "PostToPayPal";
}
 <script src="@Url.Content("~/Scripts/jquery-1.5.1.min.js")" type="text/javascript"></script>
<h2>PostToPayPal</h2>
    <form id="frm" action="@ViewBag.actionURL">
     @Html.HiddenFor(model => model.cmd)
    @Html.HiddenFor(model => model.business)
    @Html.HiddenFor(model => model.no_shipping)
    @Html.HiddenFor(model => model.@return)
    @Html.HiddenFor(model => model.cancel_return)
    @Html.HiddenFor(model => model.notify_url)
    @Html.HiddenFor(model => model.currency_code)
    @Html.HiddenFor(model => model.item_name)
    @Html.HiddenFor(model => model.amount)
    </form>
    <h4>Redirecting to Paypal...</h4>
    <script type="text/javascript" language="javascript">
        $(this.document).ready(function () {
            var frm = $("form");
            frm.submit();
        });   
</script>