﻿@using LRI.MyPlace2Learn.Helpers
@model LRI.MyPlace2Learn.Models.LearningCategory

@{
    ViewBag.Title = "Administration: Learning Categories";
}

<ul class="breadcrumb">
	<li><a href="@Url.Content("~")">Home</a> <span class="divider">/</span></li>
    <li><a href="@Url.Content("~/LearningCategory/")">Admin: Learning Categories</a><span class="divider">/</span></li>
	 
        @if (Model == null)
        { 
           <li class="active">New Category</li>
        }
        else
        { 
           <li class="active">Edit Category</li>
        }
    
</ul>

    <h2>Learning Category Administration</h2>
    <script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

@using (Html.BeginForm())
{

    @Html.ValidationSummary(true, "Unable to create new learning category. Please correct the errors and try again.")
    @Html.HiddenFor(model=>model.LearningCategoryID)
    <div class = "span11">
            <fieldset>
                <legend>Category details</legend>
                <div class="span5 no_margin_left">
                    <div class="editor-label">
                        @Html.LabelFor(model => model.Name)
                    </div>
                    <div class="editor-field">
                        @Html.EditorFor(model => model.Name)
                        @Html.ValidationMessageFor(model => model.Name)
                    </div>
                    <div class="editor-label">
                        @Html.LabelFor(model => model.Reference)
                    </div>
                    <div class="editor-field">
                        @Html.EditorFor(model => model.Reference)
                        @Html.ValidationMessageFor(model => model.Reference)
                    </div>
                    <div class="control-group">
                   @Html.LabelFor(m => m.IsActive, new { @class = "control-label" })
                    <div class="controls docs-input-sizes">
                         @Html.DropDownList("IsActive", new SelectList(new StatusListItems((Model != null) ? Model.IsActive : true).ListItems, "Value", "Text"))                         
                    </div>
                </div>
                </div>
                <div class="span5 no_margin_left">
                    <div class="editor-label">
                        @Html.LabelFor(model => model.Description)
                    </div>
                    <div class="editor-field">
                        @Html.TextAreaFor(model => model.Description, new { @class = "largeTextArea" })
                    </div>
                </div>
        </fieldset>
   </div>
   <div class="row span11">	
         <hr />  
        <input type="submit" value="Submit" class="btn btn-primary btn-large pull-right"/>
    </div>  
    
}



