﻿@using PagedList
@using PagedList.Mvc
@model IPagedList<LRI.MyPlace2Learn.Models.LearningCategory>

@{
    ViewBag.Title = "Administration: Learning Categories";
}

<script src="../../Scripts/LRILibrary/jQuery.Utility.js" type="text/javascript"></script>
<ul class="breadcrumb">
	<li><a href="#">Home</a> <span class="divider">/</span></li>
    <li class="active">@ViewBag.Title</li>
</ul>
<h2>@ViewBag.Title</h2>

<br />
<div class = "span12 no_margin_left">
    <div>
     @using (Html.BeginForm("Index", "LearningCategory", FormMethod.Post, new { @class = "navbar-search" }))
     {
         <select name = "status" id = "status" class = "statusFilter">
            <option value = "1">Show Active</option>
            <option value = "0">Show Inactive</option>
            <option value = "2">Show All</option>
        </select>    
        <input type="text" class="span2" id = "searchTerm" name = "searchTerm" placeholder="Find category"/>
		<button class="btn btn-primary btn-small" style = "margin-bottom: 10px;" type="submit">Find</button>
        
      }   
   
    
     @Html.ActionLink("Create New", "Create", null, new { @class = "btn btn-primary pull-right" })
    </div>
</div>

<table class="table table-bordered table-striped">
<thead>
    <tr>
        <th>Category</th>    
        <th style="text-align:center;">Actions</th>
    </tr>
</thead>
@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td style="text-align: center;">
            @Html.ActionLink("Edit", "Edit", new { id = item.LearningCategoryID }) | 
            
            @if (item.IsActive)
            {
                @Html.ActionLink("Archive", "Archive", new { id = item.LearningCategoryID })
            }
            else
            { 
               @Html.ActionLink("Activate", "Activate", new { id = item.LearningCategoryID, isArchive = false }) 
            }

        </td>
    </tr>
}

</table>
<div class = "span12" style = "text-align:center;">
    @Html.PagedListPager(Model, page => Url.Action("Index", new { page }))
</div>
